RewriteEngine On
# TODO: Set path to REST API
# On live server: /rest/v1/
RewriteBase /sotc-rest-api/src/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]